
/*mobile*/
.firstfilter{
	position: relative;
	z-index: 3;
	border: solid 3px green;
}

.loadimage{
	position: relative; 
	z-index : 1;

}

#file{
	margin-right: auto;
	margin-left: auto;
}

@media all and (max-width: 321px){

	#title{
		font-size: 20px;
		text-align: center;
		font-family: "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;
	}

	p{
		font-size: 10px;
		text-align: center;
		font-family: "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;
	}

	#logo {
    	width:60%;
    	height:50px;
	}

	#mainimage {	
	    width: 240px;
	    height:180px;
	}

	#loadimage {	
	    width: 240px;
	    height:180px;
	}

	#filterimage{
		width: 90px;
		height: 81px;
	}

	#m_imageimg{
		width: 200px;
	    height:150px;
	}


	#load {
		width:0px;
		height:0px;	  
	   	   
	}

	#save {
		width:80px;
		height:80px;  	     	   
	}
}

@media all and (min-width: 321px) and (max-width: 401px ){

	#title{
		font-size: 22px;
		text-align: center;
		font-family: "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;
	}

	p{
		font-size: 12px;
		text-align: center;
		font-family: "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;
	}
	#logo {
    	width:60%;
    	height:60px;
	}

	#mainimage {	
	    width: 320px;
	    height:240px;
	}

	#loadimage {	
	    width: 320px;
	    height:240px;
	}

	#filterimage{
		width: 120px;
		height: 108px;
	}

	#m_imageimg{
		width: 240px;
	    height:180px;
	}

	#load {
		width:0px;
		height:0px;	    
	}

	#save {
		width:100px;
		height:100px;  	      
	}
}

@media all and (min-width: 401px) and (max-width: 481px ){
	#title{
		font-size: 24px;
		text-align: center;
		font-family: "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;
	}

	p{
		font-size: 14px;
		text-align: center;
		font-family: "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;
	}
	#logo {
    	width:60%;
    	height:80px;
	}

	#mainimage {	
	    width: 400px;
	    height:300px;
	}

	#loadimage {	
	    width: 400px;
	    height:300px;
	}

	#filterimage{
		width: 150px;
		height: 135px;
	}

	#m_imageimg{
		width: 320px;
	    height:240px;
	}

	#load {
		width:0px;
		height:0px;	    
	}

	#save {
		width:120px;
		height:120px;  	      
	}
}

@media all and (min-width: 481px) and (max-width: 561px ){

	#title{
		font-size: 24px;
		text-align: center;
		font-family: "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;
	}

	p{
		font-size: 16px;
		text-align: center;
		font-family: "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;
	}
	#logo {
    	width:60%;
    	height:100px;
	}

	#mainimage {	
	    width: 480px;
	    height:360px;
	}

	#loadimage {	
	    width: 480px;
	    height:360px;
	}

	#filterimage{
		width: 180px;
		height: 162px;
	}

	#m_imageimg{
		width: 400px;
	    height:300px;
	}

	#load {
		width:0px;
		height:0px;	    
	}

	#save {
		width:140px;
		height:140px;  	      
	}
}

@media all and (min-width: 561px) and (max-width: 641px ){


	#title{
		font-size: 26px;
		text-align: center;
		font-family: "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;
	}

	p{
		font-size: 18px;
		text-align: center;
		font-family: "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;
	}
	#logo {
    	width:60%;
    	height:120px;
	}

	#mainimage {	
	    width: 560px;
	    height:420px;
	}

	#loadimage {	
	    width: 560px;
	    height:420px;
	}

	#filterimage{
		width: 210px;
		height: 189px;
	}

	#m_imageimg{
		width: 480px;
	    height:360px;
	}

	#load {
		width:0px;
		height:0px;	    
	}

	#save {
		width:160px;
		height:160px;  	      
	}
}

@media all and (min-width: 641px) and (max-width: 721px ){

	#title{
		font-size: 28px;
		text-align: center;
		font-family: "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;
	}

	p{
		font-size: 20px;
		text-align: center;
		font-family: "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;
	}
	#logo {
    	width:60%;
    	height:140px;
	}

	#mainimage {	
	    width: 640px;
	    height:480px;
	}

	#loadimage {	
	    width: 640px;
	    height:480px;
	}

	#filterimage{
		width: 240px;
		height: 216px;
	}

	#m_imageimg{
		width: 560px;
	    height:420px;
	}

	#load {
		width:0px;
		height:0px;	    
	}

	#save {
		width:180px;
		height:180px;  	      
	}
}

@media all and (min-width: 721px) and (max-width: 801px ){


	#title{
		font-size: 32px;
		text-align: center;
		font-family: "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;
	}

	p{
		font-size: 22px;
		text-align: center;
		font-family: "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;
	}
	#logo {
    	width:60%;
    	height:160px;
	}

	#mainimage {	
	    width: 720px;
	    height:540px;
	}

	#loadimage {	
	    width: 720px;
	    height:540px;
	}

	#filterimage{
		width: 270px;
		height: 243px;
	}

	#m_imageimg{
		width: 560px;
	    height:420px;;
	}

	#load {
		width:0px;
		height:0px;	    
	}

	#save {
		width:200px;
		height:200px;  	      
	}
}

@media all and (min-width: 801px) and (max-width: 1201px ){


	#title{
		font-size: 40px;
		text-align: center;
		font-family: "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;
	}

	p{
		font-size: 25px;
		text-align: center;
		font-family: "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;
	}
	#logo {
    	width:60%;
    	height:180px;
	}

	#mainimage {	
	    width: 800px;
	    height:600px;
	}

	#loadimage {	
	    width: 720px;
	    height:540px;
	}

	#filterimage{
		width: 300px;
		height: 270px;
	}

	#m_imageimg{
		width: 560px;
	    height:420px;
	}

	#load {
		width:0px;
		height:0px;	    
	}

	#save {
		width:200px;
		height:200px;  	      
	}
}


@media all and (min-width: 1201px){

	#title{
		font-size: 44px;
		text-align: center;
		font-family: "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;
	}

	p{
		font-size: 30px;
		text-align: center;
		font-family: "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;
	}

	#logo {
    	width:60%;
    	height:240px;
	}

	#mainimage {	
	    width: 1200px;
	    height:900px;
	}


	#loadimage {	
	    width: 1200px;
	    height:900px;
	}


	#filterimage{
		width: 450px;
		height: 405px;
	}

	#m_imageimg{
		width: 560px;
	    height:420px;
	}


	#load {
		width:0px;
		height:0px;	    
	}

	#save {
		width:240px;
		height:240px;  	      
	}
}s