div {
	background-repeat: no-repeat;
	text-align: center;
}

.modalbody{
	width: 300px;
	height: 400px;
}

.logocommon{
	background-image: url("image/logo.png");
	background-size: 100% 100%;
	margin-left: auto;
    margin-right: auto;
    border:1px solid purple; 
}

.buttoncommon{
	display: inline-block;
	margin-left: auto;
   	margin-right: auto;
    border: 1px solid red;
}

.loadcommon{
	background-image:url('image/load.png');
	background-position: center;
	background-size: 100% 100%;
	display: inline-block;
	border: 1px solid yellow;

}

.savecommon{
	background-position: center;
	background-image:url('image/save.png');
	background-size: 100% 100%;
	display: inline-block;
	border: 1px solid blue;
}

.maincommon{
	background-image:url('image/mainimage.png');
	background-size: 100% 100%;
	border:1px solid black; 
	margin-left: auto;
   	margin-right: auto;
   	position: relative;
}
